@font-face {
  font-family: "Futura";
  src: url("static/Futura Heavy Italic font.ttf");
}

body {
  font-family: "Futura", Fallback, sans-serif;
  background: linear-gradient(270deg, #4e2bcc, #b620e0);
  background-size: 200% 200%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App-intro {
  color: white;
  font-size: 5rem;
}

.App-intro > P {
  margin-top: 2rem;
  margin-bottom: 0;
}

.commit-field {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commit-field > textarea {
  font-family: "Futura", Fallback, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
}

.commit-field > p {
  text-align: center;
  color: white;
}

.valodate-button {
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  background-color: #111c50;
  border: none;
  color: white;
  padding: 1rem 6rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Futura", Fallback, sans-serif;
}

.greeting {
  display: flex;
  color: white;
  margin-left: 1rem;
}

.greeting > p > a {
  text-decoration: none;
  color: white;
}

.greeting > img {
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  width: 50px;
  margin-left: -8px;
}
